<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="https://github.com/abhijithrajan/flask-framework">Github</a>
  <a class="active" href="/about">About</a>
</div>

<div style="padding-left:16px">
  <h2>About the <i>Stock Value App</i> </h2>
  <p>This app is built to satisfy one of the milestones in TDIs 12 day program to help all the fellows prepare for the upcoming fellowship. Some of the python packages used to generate the app include: requests, pandas, Bokeh, Flask, and Heroku. Each package started out appearing to be difficult to work with, they turned out to be fairly intuitive and fun to use.</p>

  <p> Data for this project comes from the <a href="https://www.quandl.com/databases/WIKIP">Qandl WIKI dataset</a>, which unfortunately is no longer supported. </p>
</div>

</body>
</html>
